/*=========== BACKGROUND COLOR ================ */
.portfolio-nav > li > a.selected  > span,
.portfolio > h6 > span:before,
.portfolio > h6 > span:after,
.project-title > h6 > span:before,
.project-title > h6 > span:after,
.layer > span,
.blog-post-img > a:before,
.read-btn:hover,
.staff-thumb > span:before,
.staff-thumb > span:after,
.skills .progress .progress-bar,
.contact-info > a:hover,
.progress-bar,
.view-all > a:hover,
.purchase-box > a:hover,
.table-bar > span,
.table-bar:hover:before, 
.table-bar:hover:after,
.table-bar > a:hover,
.company-features > a:hover:before,
.theme-tabs .nav.nav-tabs li.active a,
.brand-intro:before,
.contact-details ul li span,
.question h3 span,
.buttons a:hover,
.tags > a:hover,
.tags > a:hover span:before,
.tags > a:hover span:after,
.share-this > ul li:hover,
.comment > a:hover,
.widget-gallery:before,
.widget ul li:hover span,
footer .widget .tags > a:hover,
.newsletter > form input[type="submit"],
.social-media > li:hover a,
.top-social > li a:hover,
nav li a:before,
.menu-open > span,
.side-menu li a:hover,
.menu-open > ul li a:hover,
.slide-subtitle:before,
.slide-line:before,
.slide-line:after,
.slide-button:hover,
.centered-title > h3:before,
.simple-text > a:hover,
.ideas-desc > h3:before,
.buttons.light > a:hover,
.tweet > p:before,
.table > a:hover,
.pointer span,
.form input[type="submit"],
.form > span:hover,
.order-now h4:before,
.order-now li:before,
.order-form form input[type="submit"] {
	background-color:#ff7c00;
}
/*=========== TEXT COLOR ================ */
.counter-box p strong,
.counter-box h6 strong,
.service > span,
.service:hover > h3,
.heading h2 > i,
.portfolio > h6 > span,
.brands > a,
.iconic-service:hover h3,
.iconic-service > i,
.project-title > h6 > span,
.quote > span,
.blog-post > h3 a:hover,
.detail-boxes:hover h3 a,
.fancy-title h3 span,
.about ul > li > a,
.staff-details > h3 > i,
.staff-tabs > li p,
.staff-tabs > li > a > span:after,
.contact-info > h3 span,
.contact-info > a,
.fancy-detail > h3 a:hover,
.fancy-detail ul li a:hover,
.welcome-text > h4,
.about-parallax > h5,
.creative-team > span,
.team-image ul li:hover a i,
.purchase-box > h3 strong,
.message h3 span,
.company-features > span,
.creative-team > h3 a:hover ,
.page-title h2 i,
.blog-post ul li a:hover,
.search-result h3 span,
.single blockquote span,
.comment > span i,
.sidebar-posts > h3 a:hover,
.widget ul li:hover a,
.bottom-footer p span,
.big-port-desc > span,
.big-port-desc > ul li a,
.big-port-desc > ul li a i,
.popup ul li a,
.popup ul li a i,
.popup span,
.portfolio-popup .container > span,
nav li a:hover,
.subtitle span,
.slide-title2 span,
.slide-title3 span,
.slide-bigfont,
.centered-title > span,
.ideas-desc > h3 span,
.icon-ideas > span,
.portfolio-hover > ul li a,
.tweet > p a,
.creative-carousel-detail ul li a,
.twitter-carousel:before,
footer .about-widget li a i:hover,
.service-item span,
.fancy-counter > p strong,
.table:hover > h4,
.bottom-footer ul li a:hover,
.portfolio-title > span i,
.resume h5,
.order-now h4 span,
.kenburns-text h2,
.carousel-slide > h5,
.carousel-slide > a {
 	color: #ff7c00;
}
/*=========== BORDERS COLOR ================ */
.portfolio > h6 > span,
.brands > a,
.contact-info > a,
.project-title > h6 > span,
.company-features > a:hover,
.theme-tabs .nav.nav-tabs li.active,
.share-this > ul li:hover,
.widget-gallery:after,
.sidebar-posts:hover a,
header.header3,
.simple-text > a:hover,
.buttons.light > a:hover,
.pointer,
.portfolio-title,
.reverse .portfolio-title,
.portfolio-nav > li > a.selected  > span,
.form > span:hover,
.carousel-slide > a {
	border-color: #ff7c00; 
}



