<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN"
"http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html>
<head>
<title>Business for high end mobiles, like samsung, nokia, lg, sony erricosn, htc mobile website templates for free | Home :: w3layouts</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<link href="mobile/css/style.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="header">
	  <div class="container">
	  	<div class="header_top">
		<ul class="header_box">
			<li class="mobile_left"><i class="mobile"><img src="mobile/images/mobile.png" alt=""/></i><span>1-200-346-2986</span></li>
		    <div class="clear"> </div>
		</ul>
	    <div class="clear"> </div>
	  </div>
	  </div>
	</div>
	 <div class="header-bottom">	
       <div class="logo">
			<a href="index.html"><img src="mobile/images/logo.png" alt=""/></a>
		</div>	
		 <a class="navicon" href="#menu"> </a>
	     <div class="clear"> </div>
     </div>
     <div class="slider" id="home">
  	     <div class="slider-left">
			<h1>We Providing</h1>
			  <ul class="button">
				<li><a href="#">Free Consultation</a></li>
			  </ul>
		  </div>
	 </div>		
	 <div class="main">
       <div id="about" class="about">
       		<div class="container">
       		   <div class="gallery-head text-center">
				  <h3>About Us</h3>
				  <p>We are added our major Services</p>
				  <span> </span>
			    </div>
       			<div class="row text-center">
       				<div class="col-md-4 about_grid">
       					<i class="icon1"><img src="mobile/images/icon1.png" alt=""/></i>
       					<h3><a href="#">Facebook Marketing</a></h3>
       					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy</p>
       				</div>
       				<div class="col-md-4 about_grid">
       					<i class="icon1"><img src="mobile/images/icon2.png" alt=""/></i>
       					<h3><a href="#">Landing pages Creation</a></h3>
       					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy</p>
       				</div>
       				<div class="col-md-4 about_grid">
       				<i class="icon1"><img src="mobile/images/icon3.png" alt=""/></i>
       					<h3><a href="#">Ads management</a></h3>
       					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy</p>
       				</div>
       			</div>
       		</div>
       	</div>
       	<div class="approach" id="app">
       		<div class="container">
       			 <div class="gallery-head text-center">
				  <h3>Our Approach</h3>
				  <p>Check Our Approaches step by step (how we do it)</p>
				  <span> </span>
			    </div>
			    <ul class="list1">
			    	<li class="list1_img"><img src="mobile/images/pic1.jpg" class="img-responsive" alt=""/></li>
			    	<li class="list1_desc"><h3><a href="#">Step 1: Heading Here</a></h3></li>
			    	<p class="no">1<br><span>Step</span></p>
			    	<div class="clear"> </div>
			    </ul>
			    <ul class="list2">
			    	<li class="list1_desc"><h3><a href="#">Step 2: Heading Here</a></h3></li>
			    	<li class="list1_img"><img src="mobile/images/pic2.jpg" class="img-responsive" alt=""/></li>
			    	<p class="no">2<br><span>Step</span></p>
			    	<div class="clear"> </div>
			    </ul>
			    <ul class="list1">
			    	<li class="list1_img"><img src="mobile/images/pic3.jpg" class="img-responsive" alt=""/></li>
			    	<li class="list1_desc"><h3><a href="#">Step 3: Heading Here</a></h3></li>
			    	<p class="no">3<br><span>Step</span></p>
			    	<div class="clear"> </div>
			    </ul>
			     <ul class="list2">
			    	<li class="list1_desc"><h3><a href="#">Step 4: Heading Here</a></h3></li>
			    	<li class="list1_img"><img src="mobile/images/pic4.jpg" class="img-responsive" alt=""/></li>
			    	<p class="no">4<br><span>Step</span></p>
			    	<div class="clear"> </div>
			    </ul>
       		</div>
       	</div>
        <div class="work" id="work">
       		<div class="container">
       			<div class="work_top text-center">
				  <h3>Our Work</h3>
				  <p>We are added our featured works below</p>
				  <span> </span>
			    </div>
			    <div class="col_1_of_4 span_1_of_4">
			     <div class="port-grid">
					<div class="port-grid-text">
					  <img src="mobile/images/arrow_icon.png" alt=""/>
					  <h3>Project Name</h3>
					  <p>Facebook Marketing</p>
					</div>
					<img src="mobile/images/w1.jpg" alt=""/>
					<div class="clear"> </div>
				 </div>
			   </div>
			   <div class="col_1_of_4 span_1_of_4">
			     <div class="port-grid">
					<div class="port-grid-text">
					  <img src="mobile/images/arrow_icon.png" alt=""/>
					  <h3>Project Name</h3>
					  <p>Landing Page</p>
					</div>
					<img src="mobile/images/w2.jpg" alt=""/>
					<div class="clear"> </div>
				 </div>
			    </div>
			     <div class="col_1_of_4 span_1_of_4">
			     <div class="port-grid">
					<div class="port-grid-text">
					  <img src="mobile/images/arrow_icon.png" alt=""/>
					  <h3>Project Name</h3>
					  <p>Landing Page</p>
					</div>
					<img src="mobile/images/w3.jpg" alt=""/>
					<div class="clear"> </div>
				 </div>
			    </div>
			    <div class="col_1_of_4 span_1_of_4">
			     <div class="port-grid">
					<div class="port-grid-text">
					  <img src="mobile/images/arrow_icon.png" alt=""/>
					  <h3>Project Name</h3>
					  <p>Landing Page</p>
					</div>
					<img src="mobile/images/w4.jpg" alt=""/>
					<div class="clear"> </div>
				 </div>
			    </div>
		   </div>
       	 </div>
       	<!----start-nav-links---->
			<div class="navgation-links">
			   	<a name="menu"> </a>
			   	   <ul>
					  <li class="active"><a href="#">Home</a></li>
					  <li><a href="#about">About Us</a></li>
					  <li><a href="#app">Our Approach</a></li>
					  <li><a href="#work">Our Work</a></li>
				  </ul>
			</div>
			  <!----start-nav-links---->
       	  <div class="contact">
       		<div class="container">
       			<div class="work_top text-center">
				  <h3>Get Your Facebook Ananlysis Now</h3>
				  <p>Enter your details below</p>
				  <span> </span>
			    </div>
			     <div class="contact-form_grid">
   					<p>diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam</p>
				   <form method="post" action="contact-post.html">
					 <input type="text" class="textbox" value="Your name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your name';}">
					 <input type="text" class="textbox" value="Contact Number" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Contact Number';}">
					 <input type="text" class="textbox" value="Company Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Company Name';}">
					 <input type="submit" value="Submit Now">
				   </form>
			      </div>
   			  </div>
       	</div>
       </div>
       <div class="footer_top">
       	<div class="container">
       		<h3>Get in touch</h3>
       		<div class="social">
			   <ul>
				 <li><a href=""> <i class="facebook"><img src="mobile/images/fb.png" alt=""/></i> </a></li>
				 <li><a href=""><i class="facebook"><img src="mobile/images/tw.png" alt=""/></i> </a></li>
				 <li><a href=""><i class="facebook"><img src="mobile/images/g.png" alt=""/></i></a></li>
				 <li><a href=""><i class="facebook"><img src="mobile/images/in.png" alt=""/></i></a></li>
				 <div class="clear"> </div>
			  </ul>
			</div>
			<p>Subscribe to our newsletter to stay update with what is new</p>
			<div class="footer_form">
   			   <form method="post" action="contact-post.html">
				  <input type="text" class="textbox" value="Email Address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
				  <input type="submit" value="Subscribe">
			   </form>
			</div>
       	</div>
       </div>
       <div class="footer-bottom">
   	<div class="container">
   		<div class="copy">
		    <p>&copy; 2014 Template by <a href="http://w3layouts.com" target="_blank"> w3layouts</a></p>
		</div>
   	</div>
   </div>
</body>
</html>

